/* Empty. Add your own CSS if you like */


/* helpers */
.padding-bottom-20 {
  padding-bottom: 20px;
}

.bold {
	font-weight: bold;
}

.nutritionImage {
	width: 100%;
	position: relative;
}

/* nutrition */
.nutritionTextContainer {
	position: absolute;
	top: 30%;
	display: block;
	margin: auto;
	text-align: center;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.nutritionText {
	color: white;
	font-size: 30px;
	line-height: 30px;
	/*font: helvetica 20px bold;*/
}