<ion-view ng-if="site" view-title="{{site.name}}" cache-view="false">
  <ion-content class="padding">

    <h4>Today's Conversation Topic</h4>
    <p>How well do the clients know brussels sprouts?</p>
    <img class="nutritionImage" src="{{foodInfo.url}}" ng-click="viewDemo()">
    <!-- <ion-list ng-repeat="info in foodInfo">
    	<ion-item href="/#/tab/converse/demo">
	    	<h2>Talk to clients about {{info.name}}</h2>
	    	<img class="nutritionImage" src="{{info.url}}">
	    	<div class="nutritionTextContainer">
	    	</div>
	    </ion-item>
    </ion-list> -->
    <h4>Conversation Tools</h4>

    <ion-list>
    	<ion-item ng-repeat="panel in nutritionPanels" href="{{panel.url}}">
    		<div class="bold">{{panel.title}}</div>
    		<div>{{panel.caption}}</div>
    	</ion-item>
	</ion-list>
  </ion-content>
</ion-view>