<ion-view view-title="Choose Site">
  <ion-content class="padding">
    <div>
      <h2>Welcome to Second Harvest!</h2>
      <!--<label class="item item-input item-select">-->
      <div>Choose your distribution site here:</div>

      <!--<ff-search ng-model="selectedSite" data="siteSearchData" type="site"></ff-search>-->

      <!--TODO: figure out custom directives. for now...-->
      <label class="item item-input">
        <input type="text" ng-model="data.searchText" placeholder="Search..." ng-change="updateMatches()">
      </label>
      <ion-list>
        <ion-item ng-repeat="item in matches" ng-click="changeView(item)">{{item.name}}</ion-item>
      </ion-list>


      <!--<div class="input-label">-->
          <!--Choose your distribution site:-->
        <!--</div>-->

        <!--<select ng-model="selectedSite" ng-options="site as site.metadata.name for site in sites" ng-change="updateSite(selectedSite)">-->
        <!--</select>-->
      <!--</label>-->
    </div>

  </ion-content>
</ion-view>

<!--<ion-view view-title="Select Site" ng-if="!selectedSite">-->
  <!--<ion-content class="padding">-->
    <!--<h2>Please select your site:</h2>-->
    <!--<select ng-model="selectedSite" ng-options="site as site.metadata.name for site in sites"></select>-->
  <!--</ion-content>-->

<!--</ion-view>-->
