<ion-view view-title="Volunteer Check-out" cache-view="false">
  <ion-content class="padding">

    <div ng-if="selectedSite">
      <h2>How did it go today?</h2>
      <div class="padding-bottom-20">
        <div>Rate your experience at the site on a scale from 1-5</div>
        <label class="item item-input item-select">
           <div class = "input-label"> Rating </div>
           <select ng-model = "checkout.rating" ng-options="rating for rating in [1,2,3,4,5]"></select>              
        </label>
      </div>
      <div class="padding-bottom-20">
        <div>Tell us one thing (good or bad) about today's distribution.</div>
        <label class="item item-input">
          <textarea placeholder="Comments"  ng-model="checkout.story"></textarea>
        </label>
      </div>
      <div class="padding-bottom-20">
        <div>{{foodInfo.question}}</div>
        <label class="item item-input">
          <textarea placeholder="Answer" ng-model="checkout.bonusQuestions"></textarea>
        </label>
      </div>
      <ion-button class="button button-block" color="primary" ng-click="sendCheckoutForm()">Submit</ion-button>
    </div>

  </ion-content>
</ion-view>
