<ion-view view-title="Client Check-in">
  <ion-content class="padding">
    <div>
      <h2>Welcome to Second Harvest!</h2>
      <!--<label class="item item-input item-select">-->
      <div>Choose your distribution site:</div>
      <ff-search ng-model="selectedSite" data="siteSearchData" type="site"></ff-search>


        <!--<div class="input-label">-->
          <!--Choose your distribution site:-->
        <!--</div>-->

        <!--<select ng-model="selectedSite" ng-options="site as site.metadata.name for site in sites" ng-change="updateSite(selectedSite)">-->
        <!--</select>-->
      <!--</label>-->
    </div>

  </ion-content>
</ion-view>

<!--<ion-view view-title="Select Site" ng-if="!selectedSite">-->
  <!--<ion-content class="padding">-->
    <!--<h2>Please select your site:</h2>-->
    <!--<select ng-model="selectedSite" ng-options="site as site.metadata.name for site in sites"></select>-->
  <!--</ion-content>-->

<!--</ion-view>-->
